$header-color: #3B5999;
$header-font: #fff;


/*Navbar Styles*/

.about-nav {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background: $header-color;
  color: $header-font;

  .logo {
    display: inline-block;
  }


  img {
    max-height: 40px;
    max-width: 40px;
    height: auto;
    width: auto;
    display: inline-block;
    margin-right: 5px;
  }


  h2 {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin: 0 10px 0 0;
    color: $header-font;
  }

  form {
    display: inline-block;
    width: 100%;
    vertical-align: middle;

    @media (max-width: 768px) {
      float: left;
      padding-top: 10px;
    }
  }

  input {
    width: 100%;
    padding: 3px 5px;

  }

  p {
    float: right;
    margin: 0;
    line-height: 32px;

    @media (max-width: 768px) {
      float: left;
    }
  }

}


/*Page Wrapper*/

.page-wrapper {
  width: 100%;
  margin-top: 20px; 
}

/*Cover and Profile Pic*/

.cover {
  position: relative;
}

.cover-photo {
  width: 100%;
  max-height: 400px;
}

.personal-pic {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 1;

  img {
    max-height: 200px;
    max-width: 150px;
    height: auto;
    width: auto;
    display: inline-block;
    border: 3px solid #fff;
  }

  h2 { 
    margin-left: 20px;
    display: inline-block;
    color: $header-font;
  }
}


/*Profile Navigation Bar*/

.profile-nav-bar {
  border: 1px solid #555;
  position: relative;

  .edit-profile {
    float: right;
    line-height: 50px;
    margin: 0 15px 0 0;
  }
}

.profile-nav {
  margin-left: 20%;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  z-index: 1;

  a {
    display: inline-block;
    color: #333;
  }


  li {
    display: inline-block;
    padding: 15px 20px;
    border-left: 1px solid #555;
  }

  span { 
    color: #aaa;
  }

  a:last-of-type li {
    border-right: 1px solid #555;
  }
}

/*Cover and Profile Picture Media Queries*/

@media (max-width: 768px) {
  .navbar-toggle {
    background-color: $header-color;

    .icon-bar {
      background-color: $header-font;
    }
  }

  .personal-pic {
    top: 20px;
    left: 20px;

    h2 {
      font-size: 20px;
    }

  }

  .profile-nav { 
    margin: 0;
    display: block;
  
    a {
      display: block;
    }

    li {
      border: 0;
      display: block;
      padding: 10px 20px;
    }

    a:last-of-type li {
      border: 0;
    }
}

  .profile-nav-bar  {    

    .edit-profile {
      float: none;
      margin: 0;
      padding: 10px 20px 30px;
      line-height: 20px;
      position: relative;
      display: inline-block;
    }
}
}

@media (max-width: 992px) {
  .profile-nav {
    margin-left: 30%;
  }

  .profile-nav-bar {
    .edit-profile {
      display: none;
    }
  }
}

/*About*/

.inline {
  display: inline-block;
}


/*About_Edit Styles*/

.title-row {
  text-align: center;
  border: 1px solid black;
  background-color: #eee;
  margin-top: 10px;
}

.save-changes {
  width: 100%;
  background-color: $header-color;
  color: $header-font;
  margin-bottom: 10px;
}

.edit_information {
  border: 1px solid black;
  margin-bottom: 20px;
}


/*Friends Styles*/

.friends-list {
  border: 1px solid black;
  margin-top: 10px;
  height: 125px;
  padding: 0;
  display: flex;
  align-items: center;


  .friend-pic {
    height: 100px;
    max-width: 70px;
    padding: 0;
  }

  .friend-link {
    margin-left: 15px;  
  }

  .friend-number {
    margin-left: 15px;
  }
}

.unfriend {
  background-color: $header-color;
  color: $header-font;
}

/*Timeline Styles*/


.disappear {
  @media (max-width: 768px) {
    display: none;
  }
}

.small-title {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: #eee;
  margin: 0;
  padding: 5px;
  margin-bottom: 10px;
}

.card-timeline {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid black;

  .timeline-card-text {
  margin-left: 10px;
  }

  img {
    height: 75px;
    width: 100%;
    max-width: 75px;
    padding: 5px 0 5px 0;
  }
}

.card-post-to-timeline {
  border: 1px solid black;
  margin-top: 20px;

  .post-button-row {
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-post {
    background-color: $header-color;
    color: $header-font;
    margin: 5px;
  }

}

.card-post {

  border: 1px solid black;
  margin-top: 20px;

  img {
    height: 50px;
    width: 50px;
  }

  .user-name {
  }

  .posted-date {
    color: #a9a9a9;
  }

  .post-card-row {
    padding: 5px;
  }

  .post-like-comment-delete {
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
  }
}
